<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Flight number" %>
    <%= form.text_area :number %>
    <%= form.label :Date %>
    <%= form.text_area :date %>
    <%= form.label :From %>
    <%= form.text_area :origin %>
    <%= form.label :To %>
    <%= form.text_area :destination %>
    <%= form.label :Airplane %>
    <%= form.text_area :airplane_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
